.bodystyle {
    background-image:url(../../assets/img/office-925806.jpg);
    height: 1100px;
    background-size: cover;

}
.title {
    position: relative; 
    top: 160px;
    margin:auto;
    color: rgba(122, 176, 238, 0.548); 
    font-family: "SF Pro Text";
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}