.container-logging {
    /*background-image:url(../../assets/img/office-925806.jpg);
    background-size: cover;
    width: 100%;
    height: auto;*/
    background-color: #0B76B8;
}
.title {
    position: relative; 
    top: 160px;
    margin:auto;
    color: rgba(255, 255, 255, 1); 
    font-family: "SF Pro Text";
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}