<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="product-title">CDB</span>
      <ng-container *ngFor="let language of languageList"><a href="/{{language.code}}/"><img class="flag" src={{language.src}}></a></ng-container>
      <h1 i18n>OUT</h1>
      <span class="example-spacer"></span>
      <img src="https://pbs.twimg.com/profile_images/3247566097/580827e415ca8f11bb882b0b237aa9c4.jpeg" alt="avatar" class="header-image">
      <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
    </mat-toolbar-row>
  </mat-toolbar>