
  <div class="myContainer">
    
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> 
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
 
      <!-- Introduced date Column -->
      <ng-container matColumnDef="introduction date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Introduction date </th>
        <td mat-cell *matCellDef="let row"> {{row.introduced}}</td>
      </ng-container>

      <!-- Discontinued date Column -->
      <ng-container matColumnDef="discontinued date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discontinued date </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.discontinued}} </td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let row"> {{row.companyDTO.name}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>