  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .myContainer {
    width: 90%;
    margin : auto;
  }

  .mat-cell, .mat-header-cell{
    padding : 15px;
  }