<div>
    <div class="example-container container-contact1">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="name">
        </mat-form-field>
      
        <mat-form-field>
            <input matInput placeholder="Date Introduced">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date Discontinued">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Company">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>   
    
        <div class="container-contact1-form-btn">
            <button class="contact1-form-btn"  (click)="addComputer()" >
                <span>
                    Add computer
                </span>
            </button>
        </div>
      </div>
      
</div>